################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp10/obj
/.vs/ConsoleApp10/v15
